body {
  margin:0px;
  background-color:rgba(153, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1081px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u767_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1121px;
  height:863px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(204, 255, 102, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(204, 255, 102, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(204, 255, 102, 0.349019607843137);
}
#u767 {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-6px;
  width:1121px;
  height:863px;
}
#u767_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u768_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:903px;
  height:148px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 0, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u768 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:1px;
  width:903px;
  height:148px;
}
#u768_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u769_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:149px;
}
#u769 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:177px;
  width:236px;
  height:149px;
}
#u769_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u770_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:149px;
}
#u770 {
  border-width:0px;
  position:absolute;
  left:675px;
  top:178px;
  width:236px;
  height:149px;
}
#u770_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u771_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:160px;
}
#u771 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:397px;
  width:236px;
  height:160px;
}
#u771_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u772_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:160px;
}
#u772 {
  border-width:0px;
  position:absolute;
  left:682px;
  top:397px;
  width:235px;
  height:160px;
}
#u772_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u773_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:36px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u773 {
  border-width:0px;
  position:absolute;
  left:846px;
  top:111px;
  width:132px;
  height:36px;
}
#u773_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:128px;
  word-wrap:break-word;
}
#u774_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:903px;
  height:220px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u774 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:637px;
  width:903px;
  height:220px;
}
#u774_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u775_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u775 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:327px;
  width:236px;
  height:22px;
  text-align:center;
}
#u775_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  word-wrap:break-word;
}
#u776_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u776 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:327px;
  width:236px;
  height:22px;
  text-align:center;
}
#u776_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  word-wrap:break-word;
}
#u777_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u777 {
  border-width:0px;
  position:absolute;
  left:682px;
  top:557px;
  width:236px;
  height:22px;
  text-align:center;
}
#u777_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  word-wrap:break-word;
}
#u778_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u778 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:557px;
  width:236px;
  height:22px;
  text-align:center;
}
#u778_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  word-wrap:break-word;
}
#u779_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:24px;
}
#u779 {
  border-width:0px;
  position:absolute;
  left:778px;
  top:822px;
  width:22px;
  height:24px;
}
#u779_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u780_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:24px;
}
#u780 {
  border-width:0px;
  position:absolute;
  left:817px;
  top:822px;
  width:29px;
  height:24px;
}
#u780_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u781_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:25px;
}
#u781 {
  border-width:0px;
  position:absolute;
  left:862px;
  top:822px;
  width:23px;
  height:25px;
}
#u781_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u782_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:23px;
}
#u782 {
  border-width:0px;
  position:absolute;
  left:735px;
  top:822px;
  width:26px;
  height:23px;
}
#u782_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u783_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#009900;
}
#u783 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:651px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#009900;
}
#u783_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u784_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#009900;
}
#u784 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:651px;
  width:141px;
  height:24px;
  font-size:20px;
  color:#009900;
}
#u784_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u785_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#009900;
}
#u785 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:651px;
  width:167px;
  height:24px;
  font-size:20px;
  color:#009900;
}
#u785_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  white-space:nowrap;
}
#u786_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#009900;
}
#u786 {
  border-width:0px;
  position:absolute;
  left:783px;
  top:651px;
  width:82px;
  height:24px;
  font-size:20px;
  color:#009900;
}
#u786_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u787_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:754px;
  height:2px;
}
#u787 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:674px;
  width:753px;
  height:1px;
  color:#009933;
}
#u787_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u788_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF6666;
}
#u788 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:682px;
  width:92px;
  height:16px;
  color:#FF6666;
}
#u788_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u789_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF6666;
}
#u789 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:705px;
  width:116px;
  height:16px;
  color:#FF6666;
}
#u789_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u790_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF6666;
}
#u790 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:728px;
  width:116px;
  height:16px;
  color:#FF6666;
}
#u790_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u791_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF6666;
}
#u791 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:751px;
  width:116px;
  height:16px;
  color:#FF6666;
}
#u791_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u792_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF6666;
}
#u792 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:685px;
  width:137px;
  height:16px;
  color:#FF6666;
}
#u792_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  word-wrap:break-word;
}
#u793_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF6666;
}
#u793 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:732px;
  width:137px;
  height:16px;
  color:#FF6666;
}
#u793_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  word-wrap:break-word;
}
#u794_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF6666;
}
#u794 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:709px;
  width:137px;
  height:16px;
  color:#FF6666;
}
#u794_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  word-wrap:break-word;
}
#u795_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF6666;
}
#u795 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:682px;
  width:169px;
  height:16px;
  color:#FF6666;
}
#u795_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  word-wrap:break-word;
}
#u796_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF6666;
}
#u796 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:706px;
  width:169px;
  height:16px;
  color:#FF6666;
}
#u796_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  word-wrap:break-word;
}
#u797_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF6666;
}
#u797 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:729px;
  width:169px;
  height:16px;
  color:#FF6666;
}
#u797_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  word-wrap:break-word;
}
#u798_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF6666;
}
#u798 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:753px;
  width:137px;
  height:16px;
  color:#FF6666;
}
#u798_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  word-wrap:break-word;
}
#u799_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF6666;
}
#u799 {
  border-width:0px;
  position:absolute;
  left:782px;
  top:685px;
  width:143px;
  height:16px;
  color:#FF6666;
}
#u799_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  word-wrap:break-word;
}
#u800_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF6666;
}
#u800 {
  border-width:0px;
  position:absolute;
  left:782px;
  top:707px;
  width:143px;
  height:16px;
  color:#FF6666;
}
#u800_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  word-wrap:break-word;
}
#u801_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF6666;
}
#u801 {
  border-width:0px;
  position:absolute;
  left:782px;
  top:729px;
  width:143px;
  height:16px;
  color:#FF6666;
}
#u801_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  word-wrap:break-word;
}
#u802_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF6666;
}
#u802 {
  border-width:0px;
  position:absolute;
  left:782px;
  top:751px;
  width:143px;
  height:16px;
  color:#FF6666;
}
#u802_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  word-wrap:break-word;
}
#u803_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF6666;
}
#u803 {
  border-width:0px;
  position:absolute;
  left:782px;
  top:773px;
  width:143px;
  height:16px;
  color:#FF6666;
}
#u803_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  word-wrap:break-word;
}
#u804_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:754px;
  height:2px;
}
#u804 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:794px;
  width:753px;
  height:1px;
  color:#009933;
}
#u804_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u805_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u805 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:832px;
  width:127px;
  height:13px;
  font-size:10px;
  color:#FFFFFF;
}
#u805_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u806_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FF6666;
}
#u806 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:806px;
  width:383px;
  height:13px;
  font-size:10px;
  color:#FF6666;
}
#u806_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  white-space:nowrap;
}
#u807_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:489px;
}
#u807 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:149px;
  width:1px;
  height:488px;
}
#u807_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u808_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:489px;
}
#u808 {
  border-width:0px;
  position:absolute;
  left:1002px;
  top:148px;
  width:1px;
  height:488px;
}
#u808_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u809 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:112px;
  width:538px;
  height:36px;
}
#u809_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:538px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u810 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:538px;
  height:36px;
}
#u811_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u811 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
  color:#FFFFFF;
}
#u811_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u812_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u812 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:36px;
}
#u812_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u813_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:36px;
}
#u813 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:124px;
  height:36px;
}
#u813_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:120px;
  word-wrap:break-word;
}
#u814_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:36px;
}
#u814 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:0px;
  width:106px;
  height:36px;
}
#u814_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:102px;
  word-wrap:break-word;
}
#u815_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:36px;
}
#u815 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:0px;
  width:108px;
  height:36px;
}
#u815_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u816 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:36px;
  width:100px;
  height:108px;
  visibility:hidden;
}
#u816_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:108px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u817 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:108px;
}
#u818_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u818 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u818_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u819_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u819 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:100px;
  height:36px;
}
#u819_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u820_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u820 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:72px;
  width:100px;
  height:36px;
}
#u820_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u821 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:36px;
  width:124px;
  height:108px;
  visibility:hidden;
}
#u821_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:108px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u822 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:108px;
}
#u823_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:36px;
}
#u823 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:36px;
  color:#999999;
}
#u823_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:120px;
  word-wrap:break-word;
}
#u824_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:36px;
}
#u824 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:124px;
  height:36px;
  color:#999999;
}
#u824_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:120px;
  word-wrap:break-word;
}
#u825_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:36px;
}
#u825 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:72px;
  width:124px;
  height:36px;
  color:#999999;
}
#u825_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:120px;
  word-wrap:break-word;
}
#u826 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:36px;
  width:106px;
  height:72px;
  visibility:hidden;
}
#u826_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:72px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u827 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:72px;
}
#u828_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:36px;
}
#u828 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:36px;
}
#u828_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:102px;
  word-wrap:break-word;
}
#u829_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:36px;
}
#u829 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:106px;
  height:36px;
}
#u829_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:102px;
  word-wrap:break-word;
}
#u830 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:36px;
  width:108px;
  height:144px;
  visibility:hidden;
}
#u830_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:144px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u831 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:144px;
}
#u832_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:36px;
}
#u832 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:36px;
  color:#999999;
}
#u832_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u833_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:36px;
}
#u833 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:108px;
  height:36px;
  color:#999999;
}
#u833_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u834_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:36px;
}
#u834 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:72px;
  width:108px;
  height:36px;
}
#u834_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u835_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:36px;
}
#u835 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:108px;
  width:108px;
  height:36px;
  color:#999999;
}
#u835_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u836 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:108px;
  width:108px;
  height:72px;
  visibility:hidden;
}
#u836_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:72px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u837 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:72px;
}
#u838_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:36px;
}
#u838 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:36px;
  color:#CCCCCC;
}
#u838_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u839_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:36px;
}
#u839 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:108px;
  height:36px;
  color:#CCCCCC;
}
#u839_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u840_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u840 {
  border-width:0px;
  position:absolute;
  left:843px;
  top:6px;
  width:44px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u840_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u841_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u841 {
  border-width:0px;
  position:absolute;
  left:892px;
  top:6px;
  width:42px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u841_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u842_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u842 {
  border-width:0px;
  position:absolute;
  left:843px;
  top:26px;
  width:37px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u842_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u843_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u843 {
  border-width:0px;
  position:absolute;
  left:892px;
  top:26px;
  width:79px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u843_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u844_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bodoni MT Bold', 'Bodoni MT Regular', 'Bodoni MT';
  font-weight:700;
  font-style:normal;
  font-size:65px;
  color:#FFFFFF;
}
#u844 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:10px;
  width:470px;
  height:68px;
  font-family:'Bodoni MT Bold', 'Bodoni MT Regular', 'Bodoni MT';
  font-weight:700;
  font-style:normal;
  font-size:65px;
  color:#FFFFFF;
}
#u844_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  word-wrap:break-word;
}
#u845_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:37px;
}
#u845 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:35px;
  width:38px;
  height:37px;
  color:#FF0000;
}
#u845_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u846_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:50px;
}
#u846 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:16px;
  width:39px;
  height:50px;
}
#u846_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
